<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>About</title>


<body>

<center><h1> OUR STORY</h1></center>
<center><strong>Welcome to StitchMaster!</strong></center>
<center><img src={% static "img/whiteTshirt.jpg" %} alt="whiteTshirt" width="204"></center>
<p>StitchMaster is a quaint little store in the heart of Omaha's shopping hub housing a refined amalgamation of
    traditional techniques, rich textiles and progressive silhouettes – true traditions that weave into ethnic
    contemporary.

    At StitchMaster, we work with different textile designers, design studios and artisans across United States who have
    a passion for their craft and for the rich history of our country, which directly translates into their products.

    Thank you for stopping by to know more about us; If you’d like to touch the fabrics, feel the love in the products
    or just chat, come meet us at our store!</p>


<center><a href={% url 'users:home' %}>Click here to go Home page</a>


</body>
</html>
